<div class="resources">

  <div class="panel panel-default main">
    <div class="panel-heading clearfix">
      <h2 class="panel-title">Shops</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <% @oversea_shops.each do |site|  %>
          <div class="col-md-3 site">
            <% if !site[:favicon].blank?  %>
              <%= image_tag(site[:favicon], class: 'favicon') %>
            <% end  %>
            <%= link_to(site[:name], site[:url]) %>
          </div>
        <% end  %>
      </div>
    </div>
  </div>


  <div class="panel panel-default main">
    <div class="panel-heading clearfix">
      <h2 class="panel-title">Youtube</h2>
    </div>
    <ul class="list-group">
      <%# @youtube_channels.count %>
      <% @youtube_channels.each do |channel_group|  %>
      <li class="list-group-item">
        <div class="row">
          <% channel_group.each do |site|  %>
            <div class="col-md-3 site">
              <%= image_tag(site[:favicon], class: 'favicon') %>
              <%= link_to(site[:name], site[:url]) %>
            </div>
          <% end  %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

</div>

