<div class="row">
  <h2><%= link_to @shop.name, url_with_protocol(@shop.url), :target => '_blank' %></h2>
  <div class="items">
    <% @items.each do |item|  %>
      <%= render partial: 'items/item', locals: {item: item, show_shop: false} %>
    <% end  %>
  </div>
</div>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
