<% unless defined?(show_views)  %>
  <% show_views = true  %>
<% end  %>

<div class="video col-md-3">
  <div class="thumbnail">
    <%= image_tag(item.img_url, class: 'un-responsive') %>
    <div class="caption clearfix">
      <%= link_to item.title, item.url, class: 'title' %>
      <% if show_views  %>
        观看<strong><%= item.hits %></strong>
      <% end %>
      <div class="pull-right">
        <span><%= item.created_at.strftime("%m/%d") %></span>
      </div>
    </div>
  </div>
</div>