<div class="video col-md-3">
  <div class="thumbnail">
    <%= image_tag(item.img_url, class: 'img-responsive') %>
    <div class="caption clearfix">
      <%= link_to item.title, item.url %>

      <div class="pull-right">
        <span><%= item.hits %></span>
        <span><%= item.created_at.strftime("%m/%d") %></span>
      </div>
    </div>
  </div>
</div>