<% content_for :sidebar_selector do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Order by</h4>
      <%= link_to 'Date', sort: 'date' %>
      <%= link_to 'Popularity', sort: 'pop' %>
    </div>
  </div>
<% end %>

<h2>Videos</h2>
<div class="videos row">
  <% @videos.each do |item| %>
    <%= render partial: 'videos/video', locals: {item: item}  %>
  <% end  %>
</div>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
