.cafe_spot_layout{
  padding-top: 30px;
  .no-style-link a{
  color: 	#333333;
    &:hover{
      text-decoration: none;
    }
  }
  a.no-style-link{
    color: 	#333333;
    &:hover{
      text-decoration: none;
    }
  }
}

.visible-xxs{
  display: none;
}
@media (max-width: 400px) {
  .visible-xxs {
    display: block !important;
  }
  .hidden-xxs {
    display: none !important;
  }
}