.site{
  margin-bottom: 10px;
  .favicon{
    height: 16px;
    margin-top: -2px;
    width: 16px;
  }
  .title{
    &.placeholder{
      margin-left: 18px;
    }
  }

}

.resources{
  .panel-body{
    padding-bottom: 5px;
  }
  .list-group-item{
    padding-bottom: 0px;
  }
}