.site{
  margin-bottom: 10px;
  .favicon{
    height: 16px;
  }
  .title{
//    white-space: nowrap;
//    text-overflow:ellipsis;
//    white-space:nowrap;
//    overflow:hidden;
  }
}

.resources{
  .panel-body{
    padding-bottom: 5px;
  }
  .list-group-item{
    padding-bottom: 0px;
  }
}