@import "bootstrap-sprockets";
@import "bootstrap";

//Layout
.navbar-default  {
  background: none repeat scroll 0 0 white;
  border-bottom: medium none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  .navbar-brand {
    color: #333333;
    &:hover{
      color: #333333;
    }
  }
}

body {
  background: none repeat scroll 0 0 #eee;
}

.notices{
  p{
    margin-bottom: 0;
  }
}

//Helper
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-container{
  height: 180px;
  display: block;
  overflow: hidden;
  img {
    @include vertical-align;
  }
}

.no-margin{
  margin: 0;
}

.no-color{
  color: black;
}


.site{
  margin-bottom: 10px;
  .favicon{
    height: 16px;
  }
}

.resources{
  .panel-body{
    padding-bottom: 5px;
  }
  .list-group-item{
    padding-bottom: 0px;
  }
}

a.no-underline{
  &:hover{
    text-decoration: none;
  }
}