@import "bootstrap-sprockets";
@import "bootstrap";

.selectors{
  .active{
    font-weight: bold;
    color: black;
  }
}

//Layout
.navbar-default  {
  background: none repeat scroll 0 0 white;
  border-bottom: medium none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  .navbar-brand {
    color: #333333;
    &:hover{
      color: #333333;
    }
  }
  li.important-link{
    a{
      color: #0767c8;
      font-weight: bold;
    }
  }
}

body {
  background: none repeat scroll 0 0 #eee;
}

.notices{
  p{
    margin-bottom: 0;
  }
}

//Helper
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-container{
  height: 180px;
  display: block;
  overflow: hidden;
  img {
    @include vertical-align;
  }
}

.no-margin{
  margin: 0;
}

.no-color{
  color: black;
}


a.no-underline{
  &:hover{
    text-decoration: none;
  }
}