.navbar-default .navbar-brand {
  color: #333333;
  &:hover{
    color: #333333;
  }
}

body {
  background: none repeat scroll 0 0 #eee;
}

.navbar {
  background: none repeat scroll 0 0 white;
  border-bottom: medium none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
//  margin-bottom: 0;
}

.page-header{
  margin-top: 15px;
}

.thumbnail{
  border: none;
}

.panel .thumbnail{
  margin-bottom: 0;
  .post-title{
    margin-top:-10px;
  }
}

.panel{
  &.main .panel-heading{
    background-color: white;
  }

  .toggle-control{
    margin-right: 20px;
    margin-left: 20px;
  }
}

.no-margin{
  margin: 0;
}